
h1{
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
}

.lala{
    background: rgb(34, 25, 133);
    background: linear-gradient(90deg, rgb(45, 37, 131) 0%, rgb(88, 107, 209) 46%, rgb(37, 34, 136) 100%);
}

p{
    color: rgb(34, 25, 133);
    margin-top: 600px;
}

h5{
    color: rgb(34, 25, 133);
}

hr {
    border: 3px solid rgb(215, 215, 215); 
    width: 50%;     
    border-radius: 10px;       
}

button{
    color: rgb(255, 255, 255);
    background: rgb(34, 25, 131);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}